@{
  Layout = "_Layout";
}
<h1>Welcome to the Factory management system</h1>

@Html.ActionLink("See Machines only", "Index", "Machines")
@Html.ActionLink("Add Machine", "Create", "Machines")
@Html.ActionLink("See Engineers only", "Index", "Engineers")
@Html.ActionLink("Add Engineer", "Create", "Engineers")
