@{
  Layout = "_Layout";
}
<h1>Welcome to the Factory management system</h1>

@Html.ActionLink("See Machines only", "Index", "Machines", null, new {@class="mt-3 btn btn-primary"})
@Html.ActionLink("Add Machine", "Create", "Machines", null, new {@class="mt-3 btn btn-primary"})
@Html.ActionLink("See Engineers only", "Index", "Engineers", null, new {@class="mt-3 btn btn-primary"})
@Html.ActionLink("Add Engineer", "Create", "Engineers", null, new {@class="mt-3 btn btn-primary"})
